body{
	background: #080808;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 53%;
}
/* -------------------------------------CSS for small screens----------- */
nav .fa-solid{
	display: none;
}
@media only screen and (max-width: 600px){
	.center{
		
    margin-top: 50%;
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 110%;
	height: 110%;

	

}
		

	}